* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(-225deg, rgb(134, 248, 163) 0%, rgb(247, 93, 88) 51%, rgb(237, 113, 253) 50%);
    font-family: 'Gotu', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Lora', serif;
}


/* top head Student Marks Recorder */

.topHead {
    background-color: rgb(126, 226, 168);
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    height: 48px;
    padding-top: 15px;
}

.topHead>h5 {
    font-size: 28px;
    text-align: center;
    color: white;
}


/* div box contains all the input box and submit button */

.topHead+div {
    height: 300px;
    background-color: violet;
    margin-top: 15px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.containAllinputs>input:nth-child(1) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(6) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(9) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(12) {
    margin-left: 35%;
}

.containAllinputs>input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.containAllinputs>select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.containAllinputs>button {
    padding: 10px;
    width: 193px;
    background-image: linear-gradient(-225deg, rgb(245, 112, 130) 0%, #3584A7 51%, rgb(252, 249, 85) 100%);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

.containAllinputs>h6 {
    padding: 10px;
    width: 193px;
    color: white;
    margin-left: 35%;
    font-size: 20px;
}