* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(-225deg, rgb(134, 248, 163) 0%, rgb(247, 93, 88) 51%, rgb(237, 113, 253) 100%);
    font-family: 'Gotu', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Lora', serif;
}


/* top head Student Marks Recorder */

.topHead {
    background-color: rgb(126, 226, 168);
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, rgb(237, 113, 253) 85%);
    height: 48px;
    padding-top: 15px;
    border-bottom: 2px solid cyan;
}

.topHead>h5 {
    font-size: 28px;
    text-align: center;
    color: whitesmoke;
}


/* div box contains all the input box and submit button */

form>div {
    height: 300px;
    margin-top: 15px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.containAllinputs {
    border-bottom: 2px solid cyan;
}

.containAllinputs>input:nth-child(1) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(6) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(9) {
    margin-left: 35%;
}

.containAllinputs>input:nth-child(12) {
    margin-left: 35%;
}

.containAllinputs>input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    width: 180px;
}

.containAllinputs>h6 {
    padding: 10px;
    width: 193px;
    color: white;
    margin-left: 35%;
    font-size: 20px;
}

.containAllinputs>select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.containAllinputs>button {
    padding: 10px;
    width: 193px;
    background-image: linear-gradient(-225deg, #EF5350 0%, #EF5350 51%, #EF5350 100%);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    font-weight: 5000;
    margin-left: 35%;
    margin-top: 5px;
    width: 380px;
}

button+p {
    color: rgb(33, 42, 54);
    margin-left: 69%;
    font-size: 13px;
    padding-bottom: 25px;
}